.exports-dropdown{
  width: 85%;
}

label.radio{
  // display: block;
  padding: $s-size;
  // margin-left: auto;
  // left: auto;
  // right:auto;
  // margin-right: auto;
  // width: 50%;
}

.form-check-input{
  padding: $xs-size;
}


a.download-links {
  height: $m-size;
  display:inline-block;
  width: 85%;
  padding: $xs-size 0 $xs-size 5%;
  border-radius: 10px 10px 10px 10px;
}

a.strikethrough {
  height: $m-size;
  text-decoration: line-through;
  display:inline-block;
  width: 85%;
  padding: $xs-size 0 $xs-size 5%;
  border-radius: 10px 10px 10px 10px;
}

a.download-links:hover {
  height: $m-size;
  background: $hover-gray;
  -webkit-transition: $hover-transition;
  -moz-transition: $hover-transition;
  -o-transition: $hover-transition;
  transition: $hover-transition;
}
