html {
  // font-size: 62.5%;
  height: 100%;
  // overflow: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $outrun-blue;
  // line-height: $m-size;
  height: 100%;
  // overflow: hidden;
}

.header__title{
  margin: 0 auto;
}

h2.navlink-header{
  margin: 0 0 20px 0;
}

h2.dashboard-header{
  margin: 0 0 20px 0;
}

button {
  cursor: pointer;
}
